<h1 class="text-center"><%= @job.title%></h1>
<span class="pull-right">
<% if current_user && current_user.is_member_of?(@job)%>
<label class="label label-success">Already Favorited</label>
<%= link_to  unfavorite_job_path(@job), method: :post, class: "btn btn-default", style: "color: red;" do %>
  <i class="fa fa-heart" aria-hidden="true"></i>
<% end %>
<% else %>
<label class="label label-warning">Favorite it?</label>
<%= link_to  favorite_job_path(@job), method: :post, class: "btn btn-default" do %>
<i class="fa fa-heart-o" aria-hidden="true"></i>
<% end %>
<% end %>
</span>


<div class="container">
  <div class="row">
    <div class="col-md-6">
        <% if @job.avatar.present? %>
        <%= image_tag(@job.avatar.url, :alt => @job.title)%>
        <% else %>
        <%= image_tag(root_url + "images/No-image-available.jpg", :alt => "No-image-available")%>
        <% end %>
    </div>
    <div class="col-md-6">
      <div class="job-description">
        <p>
          <%= simple_format(@job.description) %>

        </p>
        </div>
    </div>
  </div>
</div>




<div class="text-center">
  <%= link_to("投交履历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
</div>
