<br><br><br>
<div class="post_container">
  <h1> Edit a job </h1>

  <%= simple_form_for [:admin, @job ] do |f| %>

  <%= f.input :title%>
  <%= f.input :description %>
  <%= f.input :wage_lower_bound, :label => "累计同行人数" %>
  <%= f.input :wage_upper_bound, :label => "参与人满意度" %>
  <%= f.input :contact_email %>
  <%= f.input :city %>
  <%= f.input :category%>
  <%= f.input :is_hidden %>

    <%= f.submit "Submit" %>
  <% end %>
</div>
