<br><br><br>
<div class="post_container">
    <div class="new_post">
  <h1> Edit a picture </h1>

  <%= simple_form_for [:admin, @job ] do |f|  %>

  <%= f.input :title,label:false,placeholder:'title'%>
  <%= f.input :description,label:false,placeholder:'description',:autofocus => true,input_html:{cols:10,rows:10} %>
  <%= f.input :category,label:false,placeholder:'category' %>
  <%= f.input :is_hidden %>
  <a href="javascript:;" class="a-upload">
  <input class="file optional btn btn-default" placeholder="picture" type="file" name="job[picture]" id="job_picture">点击这里上传文件
  </a>
  <br>
  <%= f.submit "Submit" ,class:"btn btn-default" %>
  <% end %>
  </div>
</div>
