<div class="pull-right">
  <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-default" ) %>
</div>

<br><br>
<%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
<%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
<table class="table table-boldered">
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= render_job_status(job)%>
      <%= link_to(job.title, admin_job_path(job)) %>
    </td>
    <td>
      <%= link_to("Edit", edit_admin_job_path(job)) %>
      <%= link_to("Destroy", admin_job_path(job), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
      <% if job.is_hidden %>
        <%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-default") %>
      <% else %>
        <%= link_to("Hide", hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-default") %>
      <% end %>
    </td>
    <td>
      <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>

    
    </td>
  </tr>
  <% end %>
</table>
