<br><br><br><br>
<div class="post_container">
  <div class="new_post">
      <h1>
          create a post
      </h1>
      <%= simple_form_for [:admin, @job ] do |f|  %>

      <%= f.input :title,label:false,placeholder:'title'%>
      <%= f.input :description,label:false,placeholder:'description',:autofocus => true,input_html:{cols:10,rows:10} %>
      <%= f.input :category,label:false,placeholder:'category' %>
      <%= f.input :is_hidden %>
      <div >
        <a href="javascript:;" class="a-upload">
        <input class="file optional btn btn-default" placeholder="picture" type="file" name="job[picture]" id="job_picture">点击这里上传文件
        </a>
        <br>
        <%= f.submit "Submit" ,class:"btn btn-default pull-right" %>
      </div>
      <% end %>
      </div>
  </div>
    <!-- <div class="side_bar">
      <div class="edit_bar">
        <ul>
            <li class="sidebar_button">
              <span class="tooltiptext">选择图片</span>
                <a  href="#">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </a>
            </li>
            <li class="sidebar_button">
              <span class="tooltiptext">预览</span>
                <a href="#">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
            </li>
            <li class="sidebar_button">
              <span class="tooltiptext">Tooltip text</span>
                <a  href="#">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </a>
            </li>
            <li class="sidebar_button">
                <a  href="#">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </a>
            </li>
            <li class="sidebar_button">
                <a  href="#">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
      </div>
    </div> -->
</div>
