<!DOCTYPE html>
<html>
    <head>
        <title>一起看看世界</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="/images/logo.jpeg">
    </head>

    <body>

        <div class="container-fluid" style="height:100%;">
          <div class="row">
            <%=  render "common/navbar" %>
            <%= render "common/flashes" %>
                  <%= render :partial =>"admin/jobs/jobs_part"%>
                </div>

                    <%= yield %>
        </div>

        <%= render "common/footer" %>

    </body>
</html>
