<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <title>一起看看世界</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="shortcut icon" href="/images/logo.jpeg">
  </head>

  <body style="height:100%;">

    <div class="container-fluid" >
      <div class="row">
        <%=  render "common/navbar" %>
      </div>
      <br>
      <br>
      <br>
        <%=  render "common/flashes" %>
        <%= yield %>
    </div>
    <%=  render "common/footer" %>
  </body>
</html>
